@CHARSET "UTF-8";

body {
	font-size: 14px;
}
#wrap {
	width: 600px;
	margin: 0 auto;
	padding: 20px 40px;
	border: 2px solid #99CCFF;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 10px rgba(153, 204, 255, 0.5);
}