div
{
	width:1000px;
	margin:0 auto;
}

.booktable
{
	border-collapse:collapse;
	border:1px solid grey;
	width: 1000px;
}
.dialog-popup{
	display:none;
	background:#8cc6ff;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    width:300px;
}
img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}
fieldset { 
	border:none; 
}
form.choose-dialog.textbox th
{
	display:block;
	padding-top: 2px;
	text-align: left;
}
.dialog-td1
{
	display:block;
	background-color:#dfdfdf;
	padding-left:2px;
	padding-top:10px;
	height:100px;
	text-align: center;
	padding-top: 10px;
	font-size: 12px;
	width: 280px;
	vertical-align:middle;
}
.dialog-td2
{
	display:block;
	text-align: right;
}
#mask {
	display: none;
	background: #d9d9d9; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}
