@CHARSET "UTF-8";
body
{
	font-size:12px;	
}
#container
{
	width:1000px;
	margin:0 auto;
}
#sidebar
{
	
	float:left;
	width:120px;
	height:727px;
}
#content
{
	
	float:right;
	width:875px;
	height:727px;
}
#footer
{
	float:left;
	width:1000px;
	height:50px;
    margin:0 auto;
}

